
/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover {
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
  margin: 15px;
}

/* Base structure */

html,
body {
  height: 100%;
  background-color:white;
}

#landingbackground {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/bg.jpg) no-repeat center center fixed; 
  background-size: cover;
  height: 720px;
}

.cover-container {
  max-width: 42em;
}

/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
  margin-top: 40%;
  color:white;
  font-size: 50px;
  font-weight: bold;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 600;
}
