img {
    height: 100px;
    width: 100px;
}

.row {
    max-width: 50%;
}

.col1 {
    max-width: 100px;
    margin: 10px;
}

.col2 {
    margin: 10px;
    max-width: 300px;
}


li {
    list-style-type: none;
  }


input, label {
  display:block;
}

.form-group {
  display: inline;
}

label {
  font-weight: bold;
}