img {
    height: 100px;
    width: 100px;
}

.row {
    max-width: 70%;
    margin-left: 20px;
}

.col1 {
    max-width: 100px;
    margin: 10px;
}

.col2 {
    margin: 10px;
    max-width: 300px;
}

.body {
  padding-top: 70px;
  padding-left:20px;
}

li {
    list-style-type: none;
  }


input, label {
  display:block;
  width: 100px;   
}

.form-group {
  display: inline;
}

label {
  font-weight: bold;
}